@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

.title-app {
    /* padding-top: 40px;
    padding-bottom: 20px; */
    color: black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 40px;
}


.icons {
    color: #f2f2f2;
    background-color: #26272B;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
}

.name-navbar {
    color: #f2f2f2;
    background-color: #26272B;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

.nav-bar {
    background-color: #26272B;
    max-width: 40px;
}

.text {
    color: blue;
    background-color: green;
}

#private{
    background-color: pink;
   
}
#privated{
    background-color: pink;
    width: 10%;
    text-align: center;
}

* {
    background-color: goldenrod;
  }
  
  /* p {
    height: 65px;
    border: 1px solid white;
  } */

  #listh{
      float:right;
      margin-top: -450px;
      margin-right:100px;
  }

  #listp{
    background-color: pink;
    width: 30%;
    text-align: center;
  }