#private {
  width: 100%;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.contenedor {
  display: flex;
  flex-direction: row;
}

.patients-container {
  display: flex;
  flex-direction: row;
}

.box-container {
  width: 48%;
}

.box-title {
  font-size: 28px;
  text-align: center;
}

/*List patients*/
.list-history {
    list-style: none;

}

/*List patients*/
.list-patients ul {
  margin: 0 30em 0 0;
} 

.list-patients {
  counter-reset: li;
  list-style: none;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-patients li {
  padding: 12px 0.4em 10px 0.4em;
  margin-top: 2px;
  margin-bottom: 10px;
  background: #ddd;
  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  transition: all 0.3s ease-out;
}

.li-button {
    text-align: right;
}

.delete {
    color: black;
    font-size: 12px;
    float: right;
  }

/*//////////////////////////////*/

#init-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.welcome-title {
    display:flex;
    justify-content: center;
    align-content: middle;
}

.init-form {
    width: 400px;
    margin: auto;
    padding: 10px;
    background: #f4f4f4;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);  
}

.register {
  margin: 20px 20px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.register-input {
  display: block;
  width: 100%;
  height: 38px;
  margin-top: 2px;
  font-weight: 500;
  background: none;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  font-size: 16px;
}

.register-input:focus {
  border-color: goldenrod;
  outline: 0;
}

.register-button {
  display: block;
  width: 100%;
  height: 42px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #494d59;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: #fcfcfc;
  border: 1px solid;
  border-color: #d8d8d8 #d1d1d1 #c3c3c3;
  border-radius: 2px;
  cursor: pointer;
}
.register-button:active {
  background: #eee;
  border-color: #c3c3c3 #d1d1d1 #d8d8d8;
  background-image: -webkit-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: -moz-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: -o-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: linear-gradient(to bottom, #eeeeee, #fcfcfc);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
}
.register-button:focus {
  outline: 0;
}
