body {
  background-color: #F7F7F7;
}

#private {
  width: 100%;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.nav-btn {
  color: white;
  background-color: #6D7AE0;
  font-size: 30px;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 0px;
  margin: 2px;
  margin-top: 5px;
  cursor: pointer;
}

.nav-btn:hover {
  color: #6D7AE0;
  background-color: white;
  border: 1px solid #6D7AE0;
  font-size: 30px;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 0px;
  margin: 2px;
  margin-top: 5px;
}

.contenedor {
  display: flex;
  flex-direction: row;
}

.patients-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.box-container {
  width: 50%;
  height: 100%;
}

.box-detail-patient {
  width: 34%;
}

.box-title {
  font-size: 28px;
  text-align: center;
  padding-bottom: 20px;
}

/*List histories*/
.list-history {
    list-style: none;
}

.list-history ul {
  margin: 0px;
  padding: 0px;
}

/*List patients*/
.list-patients ul {
  margin: 0 30em 0 0;
} 

.list-patients {
  counter-reset: li;
  list-style: none;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-patients li {
  padding: 12px 0.4em 10px 0.4em;
  margin-top: 2px;
  margin-bottom: 10px;
  background: #ddd;
  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  transition: all 0.3s ease-out;
}

.li-button {
    text-align: right;
}

.delete {
    color: black;
    font-size: 12px;
    float: right;
  }

/*//////////////////////////////*/

#init-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.welcome-title {
    display:flex;
    justify-content: center;
    align-content: middle;
}

.label {
  color: #6D7AE0;
}

.init-form {
    width: 400px;
    margin: auto;
    padding: 10px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    text-align: center;  
}

.register {
  margin: 20px 20px;
  padding: 20px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  height: 600px;
}

.register-input {
  display: block;
  width: 100%;
  height: 38px;
  margin-top: 2px;
  
  background: none;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  font-size: 16px;
}

.register-input:focus {
  border-color: #6D7AE0;
  outline: 0;
}

.register-button {
  display: block;
  width: 100%;
  height: 42px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  background: #6D7AE0;
  border: 1px solid #6D7AE0;
  border-radius: 2px;
  cursor: pointer;
  text-transform: capitalize;
}

.register-button:hover {
  display: block;
  width: 100%;
  height: 42px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #6D7AE0;
  text-align: center;
  background: white;
  border: 1px solid #6D7AE0;
  border-radius: 2px;
  cursor: pointer;
  text-transform: capitalize;
}

.register-button:active {
  background: #eee;
  border-color: #c3c3c3 #d1d1d1 #d8d8d8;
  background-image: -webkit-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: -moz-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: -o-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: linear-gradient(to bottom, #eeeeee, #fcfcfc);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
}
.register-button:focus {
  outline: 0;
}
